/* GLOBAL AND MOBILE STYLES FIRST */

body {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
	width: autopx; 
	height: autopx;
	background-color: white;
	padding;
	margin: 0;
}
h1 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 26.4px;
}
h3 {
    font-size: 0.875em;
    font-weight: 500;
    line-height: 15.4px;
}
p {
    font-size: 0.875em;
    font-weight: 400;
    line-height: 20px;
}
blockquote {
    font-size: 1.313em;
    font-weight: 400;
    line-height: 30px;
}
pre {
    font-size: 0.813em;
    font-weight: 400;
    line-height: 18.5667px;
}


nav.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
nav.topnav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
	width: 100%;
}

nav.topnav li {
  list-style-type: none;
  float: none;
  color: white;
}
nav.topnav li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav.topnav li a:hover:not(.active) {
  
  background-color: yellow;
	
}
nav.topnav li a.active {
  background-color: blue;
	
}





/*
  - this applies to any screen sizes under 500px
  - if you leave the width off, sections will automatically fill the full page width
  - no margins and little or no padding
*/
/* FIRST BREAKPOINT (MEDIUM SIZE) */

@media screen and (min-width: 500px) {
nav.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
nav.topnav li {
  float: left;
}
nav.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
  
nav.topnav li a:hover {
  background-color: #111;
}

.articlecarousel { 
  position: relative; 
  left: 100px; 
  height: 500px; 
  width: 230px; 
  padding: 15px 15px 15px 15px; 
  margin: 40px 100px 0px auto; 
  display: block; 
  background: rgba(255, 255, 255, 1.0); 
  color: black; 
  border: solid red 1px;
}

footer { 
  position: fixed; 
  top: 100%; 
  bottom: 2%; 
  height: 50px; 
  width: 100%; 
  padding: 5px 0px 25px 0px;
  margin: -36px auto 0px auto; 
  display: block; 
  background: rgba(255, 255, 255, 1.0); 
  color: rgba(0, 0, 0, 1.0); 
  border: red solid 1px;
}

.partnercontent { 
  position: relative; 
  bottom: 100px;
  left: 30px;
  height: 150px; 
  width: 150px; 
  background: white; 
  color: black; 
  border: black solid 1px;
}

.readersubs { 
  position: relative; 
  bottom: 100px;
  left: 170px;
  height: 150px; 
  width: 150px; 
  background: white; 
  color: black; 
  border: black solid 1px;
}

.populararticles{ 
  position: relative; 
  bottom: 100px;
  left: 270px;
  height: 150px; 
  width: 150px; 
  background: white; 
  color: black; 
  border: black solid 1px;
}

/* 
- applies to screens larger than 499px (unless specifically overwritten these styles will also apply to screens larger than 999px)
- add any hover states here
- increase font sizes
- add margins and padding to space things out
- decrease width of sections
- add `display: inline-block;` so that sections will float next to each other
*/
}
/* END FIRST BREAKPOINT */
/* SECOND BREAKPOINT (DESKTOP SIZE) */

@media screen and (min-width: 1000px) {
nav.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
nav.topnav li {
  float: left;
}
nav.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
   
nav.topnav li a:hover {
  background-color: #111;
}

.articlecarousel { 
  position: relative; 
  top: -1px; 
  left: 100px; 
  right: -100px; 
  bottom: 1px; 
  height: 500px; 
  width: 230px; 
  padding: 15px 15px 15px 15px; 
  margin: 40px 100px 0px auto; 
  display: block; 
  background: rgba(255, 255, 255, 1.0); 
  color: rgba(0, 0, 0, 1.0); 
  border: solid black 1px;
}

footer { 
  position: relative; 
  top: 100%; 
  bottom: 2%; 
  height: 50px; 
  width: 100%; 
  padding: 5px 0px 25px 0px; 
  margin: -36px auto 0px auto; 
  display: block; 
  background: rgba(255, 255, 255, 1.0); 
  color: rgba(0, 0, 0, 1.0); 
  border: red solid 1px;
}

/*
- applies to screens larger than 999px only
- add a max-width to your main section
- further decrease size of sections
- increase size of headings and global fonts
*/
}
/* END SECOND BREAKPOINT */