/* GLOBAL AND MOBILE STYLES FIRST */

/* Uncomment to outline each element for debugging  */
/*
* {
  border: 1px solid red; 
}
*/

body {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  width: auto; 
  height: auto;
  background-image: url("images/darkdots.png");

}

h1 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 26.4px;
	color: #1300BF;
}

h2 {
	font-size: 1.0em;
	font-weight: 600;
	line-height: 19.4px;
	color: #0099FF;
	background-color: grey;
}

h3 {
    font-size: 0.875em;
    font-weight: 500;
    line-height: 15.4px;
	color: #B6ABBF;
}
p {
    font-size: 0.875em;
    font-weight: 400;
    line-height: 20px;
	color: #F3E3FF;
}
blockquote {
    font-size: 1.313em;
    font-weight: 400;
    line-height: 30px;
}
pre {
    font-size: 0.813em;
    font-weight: 400;
    line-height: 18.5667px;
}

a.headbanner img{
	height: 106px;
	width:460px;
	opacity: 0.75;
}

img.headlogo{
	height: 175px;
	width:175px;
	opacity: 0.75;
}

a.authorspotlight img{
	height: 175px;
	width:175px;
	opacity: 0.75;
	margin-left: 103px;
}

nav.topnav {
    list-style-type: none;	
	background-color: #333;
	opacity: 0.85;
	box-shadow: 0px 0px 19px 5px #0099FF;
    overflow: hidden;
}
nav.topnav ul {
    list-style-type: none;
    overflow: hidden;
    background: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

nav.topnav li {
  list-style-type: none;
  float: none;

}
nav.topnav li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	overflow: hidden;
}


nav.topnav li a:hover:not(.active) {
  
  background-color: grey;
  font-weight: bold;

	
}
nav.topnav li a.active {
  background-color: #112051;
  font-weight: bold;
	
}

#headlinearticle { 
  position: relative; 
  height: 560px; 
  width: 433px; 
  padding: 2px 10px 2px 10px; 
  margin: 15px 100px 0px auto; 
  display: block; 
  color: black; 
  display: inline-block;
  box-shadow: 5px 5px 6px 7px #0099FF; 
}

#headlinearticle h2 {
	position: absolute;
	display: inline-block;
}

#headlinearticle img{
  position: absolute;
  width: 433px;
  height: 219px;
  display: inline-block;
}

#headlinearticle p{
  position: absolute;
  column-count: 2;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: #0099FF;
  overflow: hidden;	
  height: 380px;
  display: inline-block;
  top: 210px;
}

#article { 
  position: relative; 
  height: 560px; 
  width: 433px; 
  padding: 2px 10px 2px 10px; 
  margin: 15px 100px 0px auto; 
  display: block; 
  color: black; 
  display: inline-block;
  box-shadow: 5px 5px 6px 7px #0099FF; 
}

#article h2 {
	position: absolute;
	display: inline-block;
}

#article img{
  position: absolute;
  width: 433px;
  height: 219px;
  display: inline-block;
}

#article p{
  position: absolute;
  column-count: 2;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: #0099FF;
  overflow: hidden;	
  height: 380px;
  display: inline-block;
  top: 210px;
}

.articlecarousel { 
  position: relative; 
  height: 680px; 
  width: 433px; 
  padding: 2px 10px 2px 10px; 
  margin: 15px 100px 200px auto; 
  display: block; 
  background: #3D3940;
  color: black; 
  display: inline-block;
  opacity: 0.75;
  box-shadow: 0px 0px 19px 5px #0099FF;
}

.articecarousel img{
	width: 100px;
	height: 75px;
}

.carouselarticlepage { 
  position: relative; 
  height: 680px; 
  width: 433px; 
  padding: 2px 10px 2px 10px; 
  margin: 15px 100px 0px auto; 
  display: block; 
  background: #3D3940;
  color: black; 
  display: inline-block;
  opacity: 0.75;
  box-shadow: 0px 0px 19px 5px #0099FF;
}

.carouselarticlepage img{
	width: 100px;
	height: 75px;
}

#articles {
  width: 400px;
  height: 610px;
  overflow: hidden;
  position: relative;
  margin-bottom: 500px;
}
#articles div {
  width: 600px;
  height: 375px;

  position: absolute;
  top: 0;
  left: -600px;
  z-index: 1;
  opacity: 1;

}
#articles div:target {
  left: 0;
  z-index: 9;
  opacity: 1;
}
#articles div:first-child {
  left: 0;
  opacity: 1;
}


#divselect{
	margin-left: 150px;
}
#divselect a {
  text-decoration: none;
  background: #E3F1FA;
  border: 1px solid #C6E4F2;
  padding: 4px 6px;
  color: #222;
}
#divselect a:hover {
  background: #C6E4F2;
}

.partnercontent { 
  position: relative; 
  height: 430px; 
  width: 430px; 
  padding: 2px 10px 2px 10px; 
  margin: 15px 100px 0px auto; 
  display: block; 
  background: transparent;
  color: black; 
  display: inline-block;
  margin: 20px;
}

.partnercontent a img{
	position: relative;
	height: 150px;
	width:150px;
	opacity: 0.75;
}

.readersubs { 
  position: relative; 
  height: 150px; 
  width: 150px; 
  padding: 2px 10px 2px 10px; 
  margin: 15px 100px 0px auto; 
  display: block; 
  background: transparent;
  color: black; 
  display: inline-block;
  margin: 20px;
}
.readersubs a img{
	position: relative;
	height: 150px;
	width: 150px;
	opacity: 0.75;
}


.populararticles{ 
  position: relative; 
  height: 150px; 
  width: 150px; 
  padding: 2px 10px 2px 10px; 
  margin: 15px 100px 0px auto; 
  display: block; 
  background: transparent; 
  color: black; 
  display: inline-block;
  opacity: 0.75;
  margin: 20px;

}

.populararticles a img{
	position: relative;
	height: 150px;
	width: 150px;
	opacity: 0.75;
}

footer {
  position: fixed; 
  height: 50px; 
  width: 350px; 
  padding: 5px 5px 5px 5px; 
  margin: 15px 100px 0px 30px; 
  display: block; 
  background: black; 
  color: white; 
  display: inline-block;
  overflow: hidden;
  opacity: 0.75;
  box-shadow: 0px 0px 19px 5px #0099FF;
  top: 0px;
}


/*
  - this applies to any screen sizes under 500px
  - if you leave the width off, sections will automatically fill the full page width
  - no margins and little or no padding
*/
/* FIRST BREAKPOINT (MEDIUM SIZE) */

@media screen and (min-width: 500px) {
	
a.headbanner img{
	height:123px;
	width:500px;
	opacity: 0.75;
	margin-left: 20px;
	top: -650px;
	margin-bottom: 40px;
	margin-right: 20px;
}

img.headlogo{
	position: relative;
	height: 175px;
	width:175px;
	opacity: 0.75;
	margin-bottom: 40px;
}

a.authorspotlight img{
	position: absolute;
	height: 175px;
	width:175px;
	opacity: 0.75;
	margin-left: 560px;
	top: 20px;
	margin-bottom: 400px;
	margin-right: 40px;
}


nav.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 880px;
}
nav.topnav li {
  float: left;
}
nav.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 12px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
  
nav.topnav li a:hover {
  background-color: #111;
}

#headlinearticle { 
  position: relative; 
  left: 2%; 
  height: 550px; 
  width: 500px; 
  padding: 15px 15px 15px 15px; 
  margin: 40px 100px 10px auto; 
  display: block; 
  color: black; 
  display: inline-block;
}

#headlinearticle img{
  position: absolute;
  width: 500px;
  height: 253px;
  display: inline-block;
}

#headlinearticle p{
  position: absolute;
  column-count: 2;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: #0099FF;
  overflow: hidden;	
  height: auto;
  display: inline-block;
  top: 275px;
}

#article { 
  position: relative; 
  left: 2%; 
  height: 550px; 
  width: 300px; 
  padding: 15px 15px 15px 15px; 
  margin: 40px 100px 10px auto; 
  display: block; 
  color: black; 
  display: inline-block;
}

#article img{
  position: absolute;
  width: 500px;
  height: 253px;
  display: inline-block;
}

#article p{
  position: absolute;
  column-count: 2;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: #0099FF;
  overflow: hidden;	
  height: auto;
  display: inline-block;
  top: 275px;
}


.articlecarousel { 
  position: relative; 
  left: 600px;
  top: -610px;
  bottom: 200px;
  height: 735px; 
  width: 260px; 
  padding: 15px 15px 15px 15px; 
  margin: 15px 10px 0px auto; 
  display: block; 
  color: black; 
  display: inline-block;
}

.articlecarousel img{
	width: 400px;
	height: 300px;
}

.carouselarticlepage { 
  position: relative; 
  left: 600px;
  top: -410px;
  bottom: 200px;
  height: 735px; 
  width: 260px; 
  padding: 15px 15px 15px 15px; 
  margin: 15px 10px 0px auto; 
  display: block; 
  color: black; 
  display: inline-block;
}

.carouselarticlepage img{
	width: 400px;
	height: 300px;
}

.partnercontent { 
  position: absolute; 
  top: 915px;
  left: 30px;
  height: 150px; 
  width: 150px; 
  color: black; 
  display: inline-block;
}
.partnercontent a img{
	position: relative;
	height: 150px;
	width:150px;
	opacity: 0.75;
}

	

.readersubs { 
  position: absolute; 
  top: 915px;
  left: 210px;
  height: 150px; 
  width: 150px; 
  color: black; 
  display: inline-block;
}

.readersubs a img{
	position: relative;
	height: 150px;
	width:150px;
	opacity: 0.75;
}

.populararticles{ 
  position: absolute; 
  top: 915px;
  left: 390px;
  width: 150px; 
  color: black; 
  height: 150px; 
  display: inline-block;
}

.populararticles a img{
	position: relative;
	height: 150px;
	width:150px;
	opacity: 0.75;
}

footer { 
  position: relative; 
  bottom: 10px;
  height: 50px; 
  width: auto;
  background-color: grey;
  color: white; 
  display: inline-block;
  margin: 480px auto 0px auto; 
}



/* 
- applies to screens larger than 499px (unless specifically overwritten these styles will also apply to screens larger than 999px)
- add any hover states here
- increase font sizes
- add margins and padding to space things out
- decrease width of sections
- add `display: inline-block;` so that sections will float next to each other
*/
/* END FIRST BREAKPOINT */
}
/* SECOND BREAKPOINT (DESKTOP SIZE) */

@media screen and (min-width: 1000px) {
a.headbanner img{
	height: 175px;
	width:714px;
	opacity: 0.75;
	margin-left: 75px;
}

img.headlogo{
	height: 200px;
	width:200px;
	opacity: 0.75;
}

a.authorspotlight img{
	height: 200px;
	width:200px;
	opacity: 0.75;
	margin-left: 930px;
}
	
nav.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
nav.topnav li {
  float: left;
}
nav.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
   
nav.topnav li a:hover {
  background-color: #111;
}

#headlinearticle { 
  position: relative; 
  left: 2%; 
  height: 650px; 
  width: 800px; 
  padding: 15px 15px 15px 15px; 
  margin: 40px 100px 40px auto; 
  display: block; 
  color: black; 
  display: inline-block;
}

#headlinearticle img{
  position: absolute;
  width: 800px;
  height: 404px;
  display: inline-block;
}

#headlinearticle p{
  position: absolute;
  column-count: 2;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: #0099FF;
  overflow: hidden;	
  height: 180px;
  display: inline-block;
  top: 425px;
}

#article { 
  position: relative; 
  left: 2%; 
  height: 940px; 
  width: 800px; 
  padding: 15px 15px 15px 15px; 
  margin: 40px 100px 40px auto; 
  display: block; 
  color: black; 
  display: inline-block;
}

#article img{
  position: absolute;
  width: 800px;
  height: 404px;
  display: inline-block;
}

#article p{
  position: absolute;
  column-count: 2;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: #0099FF;
  overflow: hidden;	
  height: 530px;
  display: inline-block;
  top: 425px;
}
.carouselarticlepage { 
  position: relative; 
  left: 100px; 
  top: -1000px;  
  height: 950px; 
  width: 400px; 
  padding: 15px 15px 15px 15px; 
  margin: -20px 100px 0px auto; 
  display: block; 
  border: solid black 1px;
}
.carouselarticlepage img{
	width: 400px;
	height: 300px;
}

.articlecarousel { 
  position: relative; 
  left: 100px; 
  top: -700px;  
  height: 950px; 
  width: 400px; 
  padding: 15px 15px 15px 15px; 
  margin: -20px 100px 0px auto; 
  display: block; 
  border: solid black 1px;
}
.articlecarousel img{
	width: 400px;
	height: 300px;
}

#articles {
  width: 400px;
  height: 620px;
  overflow: hidden;
  position: relative;

  margin: 20px auto;
}
#articles div {
  width: 600px;
  height: 375px;

  position: absolute;
  top: 0;
  left: -600px;
  z-index: 1;
  opacity: 1;

}
#articles div:target {
  left: 0;
  z-index: 9;
  opacity: 1;
}
#articles div:first-child {
  left: 0;
  opacity: 1;
}


}
#divselect{
	margin-left: 150px;
}
#divselect a {
  text-decoration: none;
  background: #E3F1FA;
  border: 1px solid #C6E4F2;
  padding: 4px 6px;
  color: #222;
}
#divselect a:hover {
  background: #C6E4F2;
}

.partnercontent { 
  position: absolute; 
  top: 1030px;
  left: 30px;
  height: 270px; 
  width: 270px; 
  color: black; 
  display: inline-block;
}
.partnercontent a img{
	position: relative;
	height: 270px;
	width:270px;
	opacity: 0.75;
}

	

.readersubs { 
  position: absolute; 
  top:1030px;
  left: 310px;
  height: 270px; 
  width: 270px; 
  color: black; 
  display: inline-block;
}

.readersubs a img{
	position: relative;
	height: 270px;
	width:270px;
	opacity: 0.75;
}

.populararticles{ 
  position: absolute; 
  top: 1030px;
  left: 590px;
  width: 270px; 
  color: black; 
  height: 270px; 
  display: inline-block;
}

.populararticles a img{
	position: relative;
	height: 270px;
	width:270px;
	opacity: 0.75;
}

footer { 
  position: relative; 
  top: 100%; 
  bottom: 2%; 
  height: 50px; 
  width: 380px; 
  margin: 360px auto 0px auto; 
  display: block; 
}

.headline {
	background-color: white;
}




/*
- applies to screens larger than 999px only
- add a max-width to your main section
- further decrease size of sections
- increase size of headings and global fonts
*/

/* END SECOND BREAKPOINT */